vti_encoding:SR|utf8-nl
vti_author:SR|ACER\\sitinurmahirah
vti_modifiedby:SR|DESKTOP-ABBIQVI\\Dell
vti_timelastmodified:TR|21 Mar 2017 06:22:52 -0000
vti_timecreated:TR|19 Mar 2017 03:09:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Contact.html Product.html Cart.html Register.html Register.aspx Default.aspx Product_detail.aspx MasterPage.master Product_detail.html Cart.aspx Index.aspx Product.aspx
vti_nexttolasttimemodified:TW|21 Mar 2017 06:22:50 -0000
vti_cacheddtm:TX|21 Mar 2017 06:22:52 -0000
vti_filesize:IR|2173
