vti_encoding:SR|utf8-nl
vti_author:SR|ACER\\sitinurmahirah
vti_modifiedby:SR|DESKTOP-ABBIQVI\\Dell
vti_timelastmodified:TW|04 Apr 2017 03:09:52 -0000
vti_timecreated:TR|19 Mar 2017 03:10:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Contact.html Product.html Cart.html Register.html Register.aspx Default.aspx Product_detail.aspx MasterPage.master Product_detail.html Cart.aspx Index.aspx Product.aspx
vti_nexttolasttimemodified:TW|04 Apr 2017 03:09:52 -0000
vti_cacheddtm:TX|04 Apr 2017 03:09:52 -0000
vti_filesize:IR|16620
vti_cachedlinkinfo:VX|S|../images/background.jpg S|../images/trigger_right.png S|../images/social-icons.png S|../images/line_bar.png S|../images/arrow-pleft.png S|../images/arrow-p.png S|../images/search.png S|../images/bg_h.png S|../images/trigger_right.png S|../images/i_submenu.png S|../images/i_plus.png
vti_cachedsvcrellinks:VX|FSUS|images/background.jpg NSUS|images/trigger_right.png NSUS|images/social-icons.png FSUS|images/line_bar.png FSUS|images/arrow-pleft.png FSUS|images/arrow-p.png NSUS|images/search.png NSUS|images/bg_h.png NSUS|images/trigger_right.png NSUS|images/i_submenu.png NSUS|images/i_plus.png
